.title {
    height: 100px;
    overflow: auto;
  }
  
  .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 120px;
  }
  .item-image {
    height: 250px;
    object-fit: contain;
  }